@mixin clearfix {
    &::after{
        content:"";
        display:table;
        clear:both;
    }
}

@mixin absCenter {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);


}





















/*
繰り返しますが常にcontentプロパティを指定する必要があります
そうしないと疑似要素がページに表示されず
ページ上でこの要素を表示したくないから
疑似要素が空になります
*/

/*　[ 前提条件 ]
・ソースコードは,scss形式で記述しています
・Sass 3.4.4で操作を確認しています
・使用しているModifierという単語は以下の通りです
~~BEMという命令規則で使われる基本的なスタイル(セレクタ・class)
に追加する形で装飾を調整するclassのこと
*/

/*  [ 基本的な使い方 ]
・引数によって細かくスタイルの設定ができる
・,区切りで複数の引数を渡すことができる
・$arg:valという形で引数ん初期値を設定ができます
*/

/*  [  @contentの使い方  ]
・@mixinの中で@content;と記述すると
コンテントブロックを渡すことができます
・これにより1つのmixinで呼び出し側に合わせた処理が
可能です
*/

/*  [  属性セレクタ　] 1-1
_grid.scssのほうで
 [class^=col-] {

  }
^ ←はここから始まったよの意味
col- ← -この棒はcolとなのついている
クラスに全部反映されるということを示している

* ←アスタリスクを付ける場合は
この部分のcolを含むクラスをせんたくすることです

$ ←ドル記号は、これはcolダッシュで
終わるクラスを意味します

(まとめると)
^ colで始まり
* colで終わる
$ colを含んでいるか
*/


/*  [ 属性セレクタ ] 1-2
例えば特定の
href属性に基づいたリンクを
選択することもできますし

taget属性を空白にせってしたアンカー要素を
選択することもできます
リンクをクリックすると新しいタブで開く
リンクです

これらのスタイルを通常のリンクとは
異なるスタイルにすることができます
*/









