.footer {
    background-color: $color-black;
    padding: 10rem 0;
    font-size:1rem;
   //s color:$color-grey-light-1;

    &__logo-box{
        text-align:center;
        margin-bottom:7rem;

    }

    &__logo{
        width:10rem;
        height: auto;

    }

    &__navigation{

        //border-top: 5px solid #fff;
        padding-top:2rem;
        display:inline-block;

    }

    &__list{
        list-style:none;

    }


    &__item{
        display: inline-block;

        &:not(:last-child){
            margin-right:1.5rem;

        }

    }

    &__link{
        &:link,
        &:visited{
            color: $color-grey-light-1;
            background-color: $color-black;
            text-decoration:none;
            text-transform:uppercase;
            display:inline-block;
            transition:all 1.4s;
        }


        &:hover,
        &:active{
            color:$color-primary;
            box-shadow: 0 1rem 2rem rgba($color-primary-light, .5);
            transform: rotate(10deg) scale(1.4);
        }

    }

    &__copyright{
        /*
        border-top: 5px solid #fff;
        padding-top:2rem;
        */

    }

}
















//color
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;


$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;


$color-tertiary-light: #2998ff;
$color-tertiary-dark: #6543fa;

$color-black: rgba(51, 45, 45, 0.603);



$color-grey-dark: #777;
$color-grey-dark-2: #999;



$color-grey-light-1: #f7f7f7;


$btn-white: #fff;
$color-purple: rgb(94, 77, 236);

//GRID
$grid-width: 114rem;
$dutter-vertical:8rem;
$gutter-horizon:6rem;


// FONT
$default-font-size: 1.8rem;