.composition {
    position:relative;

    &__photo {
    //↑このphotoはBEMのElementにつなげる
       width:50%;
       box-shadow: 0 2.8rem 5rem rgba(#32CD32, .4);
       border-radius:5px;
       position:absolute;
       z-index:10;
       transition: all .2s;
       outline-offset: 1.7rem;

       &--p1 {
           left:0;
           top:-2rem;
       }


        &--p2 {
            right:0;
            top:2rem;
        }

        &--p3 {
            left:20%;
            top:10rem;
        }

        &:hover {
            outline: 1.09rem solid #32CD32;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 1.5rem 4rem rgba(#32CD32, .6);
            z-index:30;
        }

    }

    &:hover &__photo:not(:hover){
        transform:scale(.9);

    }
    //composition:hover composition__photo:not(:hover){

}